<div>
    <div data-role="box" class="fx-box" data-status="{{ status }}" data-size="{{ size }}">

        <div data-content="ready" data-tab="{{ default_tab }}">

            <div data-role="flip-container" class="flip-container">

                <div class="flipper">

                    <!-- Front -->
                    <div class="front">
                        <!-- front content -->

                        {{#unless hideToolbar}}

                            <div data-role="front-toolbar" class="front-toolbar">

                                {{#unless hideMenu}}

                                    <div class="pull-left">
                                        <div data-role="right-menu" class="dropdown">
                                            <a href="" class="btn dropdown-toggle" data-toggle="dropdown">
                                                <span class="glyphicon glyphicon-menu-hamburger"
                                                      aria-hidden="true">
                                                </span>
                                            </a>
                                        </div>
                                    </div>

                                {{/unless}}

                                <div class="pull-left">
                                    {{#unless hideMetadataButton}}
                                        <button data-action="metadata" class="btn btn-default" type="button">metadata
                                        </button>
                                    {{/unless}}
                                    <span data-role="box-title" data-grid="fx-grid-item-handle"></span>
                                </div>

                                <div class="pull-right">
                                    {{#unless hideRemoveButton}}
                                        <button data-action="remove" class="btn btn-default" type="button">remove
                                        </button>
                                    {{/unless}}
                                    {{#unless hideResizeButton}}
                                        <button data-action="resize" data-size="2" class="btn btn-default"
                                                type="button">
                                            resize
                                        </button>
                                    {{/unless}}
                                    {{#unless hideCloneButton}}
                                        <button data-action="clone" class="btn btn-default" type="button">clone</button>
                                    {{/unless}}
                                    {{#unless hideMinimizeButton}}
                                        <button data-action="minimize" class="btn btn-default" type="button">minimize
                                        </button>
                                    {{/unless}}
                                    {{#unless hideFlipButton}}
                                        <button data-action="flip" class="btn btn-default" type="button">flip</button>
                                    {{/unless}}
                                </div>
                            </div>

                        {{/unless}}
                        <br>
                        <br>

                        <div data-role="front-content" class="front-content">

                            <div data-section="chart"></div>
                            <div data-section="map"></div>
                            <div data-section="table"></div>
                            <div data-section="blank"></div>
                            <div data-section="metadata"></div>
                            <div data-section="filter"></div>
                            <div data-section="download"></div>

                        </div>

                    </div>

                    <!-- back -->
                    <div class="back">

                        {{#unless hideToolbar}}
                            <!-- back content -->
                            <div data-role="back-toolbar">
                                <button data-action="flip" class="btn btn-default pull-right" type="button">flip
                                </button>
                            </div>
                        {{/unless}}

                        <div data-role="back-content">
                            <div class="row">
                                <div class="col-xs-3">
                                    <h4>{{ back_current_resource }}</h4>
                                    <ul data-role='process-steps' class="list-unstyled list-group well"></ul>
                                    <button type="button" data-action="query" class="btn btn-default btn-block"
                                            disabled>{{submit_button}}</button>
                                </div>
                                <div class="col-xs-9">
                                    <ul data-role="process-details" class="list-unstyled list-group">
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div data-content="error" class="text-center">
            <div data-role="error-text">

            </div>
            <div data-role="error-button">
                <button data-action="filter" class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                </button>
            </div>

        </div>

        <div data-content="loading" class="text-center">
            <span class="loading loading-48"></span>
        </div>

        <div data-content="empty" class="text-center">
            Empty
            <button data-action="filter" class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
            </button>
        </div>

        <!-- Modal -->
        <div class="modal fade" data-role="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <span data-action="download-metadata" class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> FENIX metadata</h4>
                    </div>
                    <div class="modal-body">
                        <div data-role="metadata-container"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <li data-role="step-metadata">
        <h3>Metadata</h3>
        {{ i18n metadata.title}} <br>
        {{ metadata.uid }} <br>
        {{ metadata.version }}
    </li>
    <li data-role="step-filter">
        <h3>{{ labels.title }}</h3>
    </li>
</div>
